@inherits LayoutComponentBase

<PageTitle>PsPelp</PageTitle>


<body>
    <!-- ======= Header ======= -->
    <Header></Header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <Sidebar></Sidebar>
    <!-- End Sidebar-->
    <!-- ======= Content ======= -->
     <main id="main" class="main">
        @Body
    </main>
    <!-- End Header -->
    <!-- ======= Footer ======= -->
    <Footer></Footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>